{%- comment -%}
  Snippet: Product Warranty Icon
  Displays a shield SVG icon + dynamic warranty text from a metafield.
{%- endcomment -%}

{%- assign warranty_text = block.settings.warranty_metafield -%}
{%- assign icon_color = block.settings.icon_color | default: '#eb442a' -%}
{%- assign bg_color = block.settings.background_color | default: 'transparent' -%}
{%- assign text_color = block.settings.text_color | default: '#ffffff' -%}

{%- if warranty_text != blank -%}
  <div class="product-warranty-icon" style="--warranty-icon-color: {{ icon_color }}; --warranty-bg: {{ bg_color }}; --warranty-text-color: {{ text_color }};" {{ block.shopify_attributes }}>
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="-1 -1 34 36" aria-hidden="true">
      <path fill="{{ icon_color }}" d="M16,1.5L3.5,7v9c0,8.33,5.33,16.12,12.5,18c7.17,-1.88,12.5,-9.67,12.5,-18v-9L16,1.5Zm-2,22.5l-5,-5l1.41,-1.41l3.59,3.58l7.59,-7.58l1.41,1.41l-9,9Z"/>
    </svg>
    <span class="product-warranty-icon__text">{{ warranty_text }}</span>
  </div>
{%- endif -%}
